<h2>Log In</h2>
<br>

<%=form_tag(login_path) do %>

  <%= label_tag(:username, "Username") %>
  <%= text_field_tag :username %>

  <%= label_tag(:email, "Email") %>
  <%= email_field(:user, :email) %>

  <%= label_tag(:password, "Password") %>
  <%= password_field_tag "password" %>

  <%= submit_tag "Log In" %>
<% end %>
