<h2>New Client Page</h2>

<%=form_for @client do |f| %>

 <%= render partial: 'layouts/errors', locals: {object: @client} %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email%>
  <%= f.email_field :email %>

  <%= f.label :phone%>
  <%=  phone_field("client", "phone") %>

  <%= f.label :street_address%>
  <%= f.text_field :street_address %>

  <%= f.label :city%>
  <%= f.text_field :city %>

  <%= f.label :state%>
  <%= f.text_field :state %>

  <%= f.label :zip%>
  <%= f.text_field :zip %>

  <%= f.label :company%>
  <%= f.text_field :company %>

  <%= f.submit "Create Client" %>
<% end %>
