<h2>Client Show Page</h2>


<h3>Company Name <%=@client.company_name%></h3>
<h3>Contact Name <%=@client.contact_name%></h3>
<h3>Email <%=@client.email%></h3>
<h3>Phone <%=@client.phone%></h3>
<h3>Street Address <%=@client.street_address%></h3>
<h3>City <%=@client.city%></h3>
<h3>State <%=@client.state%></h3>
<h3>Zip <%=@client.zip%></h3>


<%= link_to "Edit Client", edit_client_path(@client) %></div>
