<h2><%= current_user.capitalize %>'s Projects</h2>

<br>

<% @projects.each do |p| %>
<h2>Name: <%= p.name %></h2>
<h3>Description: <%= p.description %></h3>
<h3>Client Company Name: <%= p.client.company_name%></h3>
<h3>User Name: <%= p.user.username.capitalize%></h3>
<br>

<% end %>
