
<h2>Welcome <%=current_user.capitalize%></h2>
<br>
<br>
<h3><%= link_to "Create New Project", new_project_path(@project) %></h3>

<br>
<br>
<h2>Completed Projects</h2>
<% @projects.complete.each do |p| %>
<h2>Project Name: <%= link_to p.name, client_project_path(p.client, p) %></h2>
<h2>Description: <%= p.description %></h2>
<h2>Client Name: <%= p.client.company_name %></h2>
<h2>Target Completion Date: <%= p.format_target_date %></h2>
<h2>Completion Date: <%= p.format_completed_date %></h2>
<br>
<% end %>

<br>
<br>
<br>




<h2>All Projects</h2>

<br>
<% @projects.order_newest.each do |p| %>

<table id="client">
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>Client Name</th>
    <th>Target Completion Date</th>
    <th>Completion Date</th>
  </tr>
  <tr>
   <td><%= link_to p.name, client_project_path(p.client, p) %></td>
   <td><%= p.description %></td>
   <td><%= p.client.company_name %></td>
   <td><%= p.format_target_date %></td>
   <td><%= p.format_completed_date %></td>
 </tr>
</table>


<% end %>
