<h2>Newly Created Project</h2>

<br>

<h2>Project Name: <%= @project.name%></h2>
<h2>Project Description: <%= @project.description%></h2>
<h2>Current User: <%= @project.user.username%></h2>
<h2>Client Company Name: <%= @project.client.company_name%></h2>

<% @project.comments.each do |p| %>
<h2>Comment: <%= p.content%></h2>
<% end %>

<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project", project_path(@project), method: :delete  %>
