<h2>Project</h2>
<br>

<div style="overflow-x:auto;">
  <table id="table">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Client Name</th>
      <th>Target Completion Date</th>
      <th>Completion Date</th>
      <th>Manager</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
    <tr>
     <td><%= @project.name%></td>
     <td><%= @project.description%></td>
     <td><%= @project.client.company_name%></td>
     <td><%=@project.user.username%></td>
     <td><%= @project.format_target_date%></td>
     <td><%= @project.format_completed_date%></td>
     <td><%= link_to "Edit Project", edit_project_path(@project) %></td>
     <td><%= link_to "Delete Project", project_path(@project), method: :delete  %></td>
   </tr>
  </table>
</div>

<br>
<br>


<% @project.comments.each do |p| %>
<h2>Date Created: <%=  p.created_at %>
<h2>Comment: <%= p.content%> </h2>
<%= link_to "Edit Comment", edit_comment_path(p) %>
<%= link_to "Delete Comment", comment_path(p), method: :delete  %>
<br>
<br>
<% end %>

<%= link_to "New Comment", new_project_comment_path(@project) %>
