<h2>Newly Created Project</h2>

<br>

<h2>Project Name: <%= @project.name%></h2>
<h2>Project Description: <%= @project.description%></h2>
<h2>Target Completion Date: <%= @project.format_target_date%></h2>
<h2>Completion Date: <%= @project.format_completed_date%></h2>
<h2>Current User: <%= @project.user.username%></h2>
<h2>Client Company Name: <%= @project.client.company_name%></h2>


<br>

<% @project.comments.each do |p| %>
<h2>Date Created: <%=  p.created_at %>
<h2>Comment: <%= p.content%> </h2>
<%= link_to "Edit Comment", edit_comment_path(p) %>
<%= link_to "Delete Comment", comment_path(p), method: :delete  %>
<br>
<br>
<% end %>

<%= link_to "New Comment", new_project_comment_path(@project) %>

<%= link_to "Edit Project", edit_project_path(@project) %>
<%= link_to "Delete Project", project_path(@project), method: :delete  %>
