<h2>Project</h2>

<div style="overflow-x:auto;">
  <table id="table">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Client Name</th>
      <th>Manager</th>
      <th>Target Completion Date</th>
      <th>Completion Date</th>
       <% if @project.user == current_user %>
      <th>Edit</th>
      <th>Delete</th>
      <%end %>
    </tr>

    <tr>
     <td><%= @project.name%></td>
     <td><%= @project.description%></td>
     <td><%= @project.client.company_name%></td>
     <td><%= @project.user.username%></td>
     <td><%= @project.format_target_date%></td>
     <td><%= @project.format_completed_date%></td>

     <% if @project.user == current_user %>
     <td><%= link_to "Edit Project", edit_project_path(@project) %></td>
     <td><%= link_to "Delete Project", project_path(@project), method: :delete  %></td>
     <%end %>
   </tr>
  </table>
</div>

<br>
<br>

<h2>Project Comments</h2>

<% if @project.user == current_user %>
<%= link_to "New Comment", new_project_comment_path(@project) %>
<%end %>
<br>
<br>

<div style="overflow-x:auto;">
  <div class="scrollit">
  <table id="table">
    <tr>
      <th>Date Created</th>
      <th>Comment</th>
      <% if @project.user == current_user %>
      <th>Edit</th>
      <th>Delete</th>
      <%end %>
    </tr>

    <% @project.comments.each do |p| %>
    <tr>
     <td><%=  p.format_date_created %></td>
     <td><%= p.content%></td>
     <% if @project.user == current_user %>
     <td><%= link_to "Edit Comment", edit_comment_path(p) %></td>
     <td><%= link_to "Delete Comment", comment_path(p), method: :delete  %></td>
      <%end %>
   </tr>
   <% end %>
  </table>
  </div>
</div>
