<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectManagerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="wrapper">

    <br>
    <h1>Project Dashboard</h1>
    <br>


    <div class="topnav" id="myTopnav">
         <a href="<%=root_path%>" class="active">Home</a>
         <a href="<%=clients_path%>">Clients</a>
         <a href="<%=projects_path %>">Dashboard</a>
         <a href="<%= new_project_path  %>">New Project</a>
         <% if current_user %>
         <a href="<%=logout_path%>">Sign out</a>
         <% end %>
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
           <i class="fa fa-bars"></i>
         </a>
       </div>
    <br>
    <br>

    <% if flash[:message] %>
     <div class="message"><%= flash[:message] %></div>
     <br>
    <% end %>


    <%= yield %>

    <footer class="branding">
        <small>&copy; 2019 <strong>Project Dashboard</strong></small>
      </footer>

    </div>

  </body>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

</html>
