<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectManagerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="topnav" id="myTopnav">
         <a href="/" class="active">Home</a>
         <a href="">Add Client</a>
         <a href="/projects">Project Dashboard</a>
         <a href="/logout">Logout</a>
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
           <i class="fa fa-bars"></i>
         </a>
       </div>


    <h1>Project Dashboard</h1>


    <h2>Welcome <%= current_user.username.capitalize %>!</h2>
    <%= yield %>

    <footer>

    </footer>

  </body>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

</html>
